body {
    background-image: url("./images/sacred-silver-logo1.png");
    background-repeat: no-repeat;
    background-position:center top;
    overflow:hidden;
}

.nav-link {
    font-weight:300;
    color:black !important;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar-nav:hover a:not(:hover) {
    color:#B9C2CA !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:768px) {
  img#navbar-brand { display: inline; }
  #main { margin-top: 5rem; }
  #filter-items-select {
    justify-content: flex-end !important;
    display: flex !important;
}
  .modal-body {
    height: 600px;
    overflow-y: scroll;
  }
  img#logo-img {
    width: 0.1px;
    height: 62px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s;
  }
  img#logo-img.active {
    width: 80px;
  }
}

.right-select {
  justify-content: flex-end !important;
  display: flex !important;
}

@media screen and (max-width:768px) {
  img#navbar-brand { display: none !important; }
  #main {
    margin-top: 4rem;
    overflow-y: scroll;
  }
  .modal-title {
    font-size: 1.3rem;
  }
  .modal-header {
    padding: 0.3rem 1rem;
  }
  .modal-body {
    height: 500px;
    overflow-y: scroll;
  }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
}
    #main {
      padding-left: 100px;
      padding-right: 100px;
    }
}

#main {
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-toggler {
  border-color: #fff !important;
}

.mt-6 {
  margin-top: 6rem;
}

.navbar-nav {
  background-color: #fff;
}

.modal-60h {
  height: 60% !important;
}

.modal.right .modal-dialog { 
	position: fixed; 
	margin: auto; 
	width: 320px; 
	height: 100%; 
	-webkit-transform: translate3d(0%, 0, 0); 
			-ms-transform: translate3d(0%, 0, 0); 
				-o-transform: translate3d(0%, 0, 0); 
					transform: translate3d(0%, 0, 0); 
} 
 
.modal.right .modal-content { 
	height: 100%; 
	overflow-y: auto; 
} 
	 
.modal.right .modal-body { 
	padding: 15px 15px 80px; 
}
.modal.right.fade .modal-dialog{ 
	right: 0px; 
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out; 
			-moz-transition: opacity 0.3s linear, left 0.3s ease-out; 
				-o-transition: opacity 0.3s linear, left 0.3s ease-out; 
					transition: opacity 0.3s linear, left 0.3s ease-out; 
} 
	
.modal.right.fade.in .modal-dialog{ 
	right: 0; 
}

.modal-content { 
	border-radius: 0; 
	border: none; 
} 

.modal-header { 
	border-bottom-color: #EEEEEE; 
	background-color: #FAFAFA; 
} 